body {
  margin: 0;
  background-color: #000;
  color: white;
  font-family: sans-serif;
  text-align: center;
  overflow: hidden;
}
canvas {
  position: absolute;
  left: 0;
  top: 0;
}
#visualizer {
  z-index: 1;
}
#stickman {
  z-index: 2;
  pointer-events: none;
}
